""" Reference
" Idea command names - https://docs.google.com/spreadsheets/d/17GvVbsLc48iM-vpKgBTwz5ByvsMmmw0dqIenzemDcXM/edit#gid=0

set noerrorbells 
set visualbell

set scrolloff=1
set incsearch

""" IdeaVim options
" joins string concats, nested ifs, comments, removes extra bracers, koltin one line funcs, potential chain calls, etc with regular "J" in vim
set ideajoin 
" TODO: what is this? Map vim marks to IDEA global marks
set ideamarks

""" IdeaVim actions
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)

" Keys from vim-gitgutter
nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)
" Not from vim-gitgutter. ={motion} is for indenting. =c does nothing
nmap =c <Action>(VcsShowCurrentChangeMarker)


source ~/.intellimacs/spacemacs.vim


" See - https://github.com/JetBrains/ideavim/blob/master/doc/IdeaVim%20Plugins.md
set surround
" set multiple-cursors
set commentary
set argtextobj
" set easymotion
" set textobj-entire
set ReplaceWithRegister
Plug 'machakann/vim-highlightedyank'
Plug 'michaeljsmith/vim-indent-object'


" TODO: Ace hotkey in vim
" Press `f` to activate AceJump
map f :action AceAction<cr>
" Press `F` to activate Target Mode
map F :action AceTargetAction<cr>
" Press `g` to activate Line Mode
map <leader>g :action AceLineAction<cr>

" TODO: Ace as a vim motion
" See https://github.com/acejump/AceJump/issues/397#issuecomment-1654254680

" (Optional) Enable other Intellimacs modules
" source ~/.intellimacs/extra.vim
" source ~/.intellimacs/major.vim
" source ~/.intellimacs/hybrid.vim

" (Optional) Enable which-key plugin
source ~/.intellimacs/which-key.vim

" (Optional) My own vim commands
nnoremap Y y$
nnoremap gh :action QuickJavaDoc<cr>
nnoremap ge :action ShowErrorDescription<cr>
nnoremap ; :action ShowIntentionActions<cr>

" TODO: probably should drop that and use native macos commands for next/prev tab
nnoremap J :action PreviousTab<cr>
nnoremap K :action NextTab<cr>
nnoremap <leader>j J


" TODO: m to cut, d to delete

" TODO: add lazygit in the terminal 
" TODO: remove this mapping (Optional) Add/edit actions
nnoremap <leader>gl    :action Vcs.Show.Log<CR>
vnoremap <leader>gl    :action Vcs.Show.Log<CR>

map <D-1> :action GotoBookmark1<CR>
map <D-2> :action GotoBookmark2<CR>
map <D-3> :action GotoBookmark3<CR>
map <D-4> :action GotoBookmark4<CR>
map <D-5> :action GotoBookmark5<CR>
map <D-6> :action GotoBookmark6<CR>
map <D-7> :action GotoBookmark7<CR>
map <D-8> :action GotoBookmark8<CR>
map <D-9> :action GotoBookmark9<CR>
map <D-0> :action GotoBookmark0<CR>

map <S-D-1> :action ToggleBookmark1<CR>
map <S-D-2> :action ToggleBookmark2<CR>
map <S-D-3> :action ToggleBookmark3<CR>
map <S-D-4> :action ToggleBookmark4<CR>
map <S-D-5> :action ToggleBookmark5<CR>
map <S-D-6> :action ToggleBookmark6<CR>
map <S-D-7> :action ToggleBookmark7<CR>
map <S-D-8> :action ToggleBookmark8<CR>
map <S-D-9> :action ToggleBookmark9<CR>
map <S-D-0> :action ToggleBookmark0<CR>

